.form-field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d291e5cb;
    box-shadow: 2px 3px 3px rgb(245, 210, 210);
    color: white;
}

.form-field > input{
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}